SFS_RA_JeopardyManager/force-app/main/default/flows/SFS_RA_Record_Trigger_Agent_Manager_Entry_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Stop_Agent_Manager_Entry_creation</name>
        <label>Stop Agent Manager Entry creation</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Agent Manager Entry with Sequence number {!$Record.SFS_RA_Sequence_No__c} already exists for this Agent Manager</errorMessage>
            <fieldSelection>SFS_RA_Sequence_No__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Agent_Manager_Entry_Exists</name>
        <label>Agent Manager Entry Exists?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Agent_Manager_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entry_with_Same_Seq_number_Same_Agent_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formNewORSequenceNoChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Agent_Manager_Entry_creation</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formNewORSequenceNoChange</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()
||
ISCHANGED( {!$Record.SFS_RA_Sequence_No__c} )</expression>
    </formulas>
    <interviewLabel>Record Trigger: Agent Manager Entry: Before Create/ Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Agent Manager Entry : Before Create/ Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entry_with_Same_Seq_number_Same_Agent_Manager</name>
        <label>Get Entry with Same Seq number &amp; Same Agent Manager</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Manager_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_RA_Agent_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SFS_RA_Agent_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFS_RA_Sequence_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SFS_RA_Sequence_No__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFS_RA_Sequence_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFS_RA_Agent_Manager_Entry__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Entry_with_Same_Seq_number_Same_Agent_Manager</targetReference>
        </connector>
        <object>SFS_RA_Agent_Manager_Entry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
